In [2]:
import pandas as pd
from scipy.sparse import csr_matrix

In [3]:
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

In [4]:
movies='movies.csv'
rating='ratings.csv'

df_movies=pd.read_csv(movies, usecols=['movieId','title'],dtype={'movieId':'int32','title':'str'})
df_rating=pd.read_csv(rating, usecols=['userId', 'movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float'})

In [7]:
df_movies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [13]:
#sparse matrix
movies_users=df_rating.pivot(index='movieId',columns='userId',values='rating').fillna(0)
mat_movies_users=csr_matrix(movies_users.values)

In [11]:
movies_users

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
#cosine similarity
model_knn= NearestNeighbors(metric='cosine', algorithm='brute',n_neighbors=20)

In [15]:
#Recommender(movie_name)=> List of Movie recommended

def recommender(movie_name,data,model,n_recommendations):
    model.fit(data)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected:',df_movies['title'][idx],'Index: ',idx)
    print('Searching for recommendations....')
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=idx))
        
#

In [18]:
recommender('Neeraj',mat_movies_users,model_knn,20)

Movie Selected: Anne Frank Remembered (1995) Index:  101
Searching for recommendations....
101                                                   NaN
548                                  Moll Flanders (1996)
60                     French Twist (Gazon maudit) (1995)
865     Entertaining Angels: The Dorothy Day Story (1996)
531             Thin Line Between Love and Hate, A (1996)
863                Monty Python and the Holy Grail (1975)
624     Last Klezmer: Leopold Kozlowski, His Life and ...
846                                   Funeral, The (1996)
750                          Pompatus of Love, The (1996)
3042    Legend of Rita, The (Stille nach dem Schuß, Di...
1040                              Albino Alligator (1996)
678              Wild Reeds (Les roseaux sauvages) (1994)
36                        Cry, the Beloved Country (1995)
2773                                     Sarafina! (1992)
528     Flower of My Secret, The (La flor de mi secret...
2412                                     Dead Calm (1989)
2608                                          Hook (1991)
1050                                      Ridicule (1996)
530                                             Ed (1996)
525                                      Jane Eyre (1996)
Name: title, dtype: object